<!DOCTYPE html>
<html ng-app="app" ng-cloak>
  <head>
    <title>BMKG - Kemaritiman</title>
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="manifest" href="manifest.json">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="assets/logo-bmkg.png" type="image/x-icon">
    <!-- Materialize CSS -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    
  </head>

  <body ng-controller="MainCtrl">
    <div class="navbar-fixed">
      <nav class="nav blue darken-3">
        <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img src="assets/logo-bmkg.png" alt="Logo" height="50"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large" ng-click="closeNameBar()"><i class="material-icons">menu</i></a>
        <ul class="side-nav fixed" id="mobile-demo">
            <!--searchbar-->
            <li class="search">
                <div class="search-wrapper card">
                    <input id="search" ng-model="searchArea"><i class="material-icons">search</i>
                </div>
            </li>
            <!--show all indonesia-->
            <li><a href="#" ng-click="showAllPoly()">
                    <img src="assets/icon_provinsi/garuda.png" width="25" style="vertical-align:middle;">
                    <span class="propinsi">Seluruh Indonesia</span>
                    <span style="float:right">&#10093;</span>                    
                </a>
            </li>
            <!--daftar propinsi-->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li ng-repeat="(key,value) in arealist | orderBy:'order' | filter:searchArea | groupBy:'propinsi'">
                        <a class="collapsible-header waves-effect waves-teal">
                            <img src="assets/icon_provinsi/{{value[0].icon_propinsi}}" width="25" style="vertical-align:middle;">
                                <span class="propinsi">{{key | cut:true:30:'...'}}</span>
                                <span style="float:right">&#10093;</span>
                            </a>
                        <div class="collapsible-body">
                            <ul>
                                <li ng-repeat="area in value">
                                <a href="#" ng-click="jumpToArea(area.kode)">{{area.nama | cut:true:30:'...'}}</a>
                            </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>

        </ul>
        </div>
      </nav>
    </div>

    <!--map area-->
    <div id="map" ng-style="mapStyle"></div>


    <div class="detail white-text" ng-style="detailBar">
            <div class="detail-heading">
                <p class="center-align" ng-hide="areaName">{{area.desc}}</p>
                <p class="center-align">
                    <button  ng-click="openDetail(area.name)" class="waves-effect waves-light btn blue darken-3">{{detailBtnTxt}}</button>
                </p>
            </div>
            

        <!--swipeable day   -->
        <ul id="tabs-swipe" class="tabs tabs-fixed-width content-tab">
            <li class="tab col s3 l3"><a class="active" href="#h0">Hari Ini</a></li>
            <li class="tab col s3 l3"><a href="#h1">Besok</a></li>
            <li class="tab col s3 l3"><a href="#h2">H+2</a></li>
            <li class="tab col s3 l3"><a href="#h3">H+3</a></li>
        </ul>

        <div class="spinner" ng-show="spinnerShow">
            <div class="preloader-wrapper active" style="margin:auto;">
                <div class="spinner-layer spinner-white-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
            </div>
        </div>
        
        <!--hari ini-->
        <div id="h0" class="detail-content">
            <div class="row">
                <div class="col l4">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs info-tab tabs-fixed-width">
                                <li class="tab col s6"><a class="active" href="#peringatan">Peringatan</a></li>
                                <li class="tab col s6"><a href="#kondisi">Kondisi Sinoptik</a></li>
                            </ul>
                        </div>
                    </div>                
                    <div id="peringatan" class="col s12">
                        <div class="kondisi" ng-bind-html="dataArea.h.peringatan_dini"></div>
                    </div>
                    <div id="kondisi" class="col s12">
                        <div class="kondisi" ng-bind-html="dataArea.h.kondisi_synoptik"></div>
                    </div>
                </div><!--/col l4-->

                <div class="col l4">
                    <div class="row">
                        <div class="col s4">
                            <div class="center-align">
                                <img src="{{dataArea.h.icon}}" class="responsive-img">
                                <p><strong>{{dataArea.h.cuaca}}</strong></p>
                            </div>                                               
                        </div>
                        <div class="col s8">
                            <h5 class="center-align area-name">{{area.desc}}</h5>
                            <p class="province">( {{area.province}} )</p>
                            <!--waves wind speed info-->
                            <div class="col l4 wave-wind-info">
                                <div class="row center-align wind-info">
                                    <div class="col s4">
                                        <img src="assets/weather/waves.svg" class="responsive-img">
                                        <p>{{dataArea.h.gelombang_min}} - {{dataArea.h.gelombang_max}} m</p>
                                    </div>
                                    <div class="col s4">
                                        <img src="assets/weather/wind.svg" class="responsive-img">
                                        <p>{{dataArea.h.angin_speed_min}} - {{dataArea.h.angin_speed_max}} knot</p>
                                    </div>
                                    <div class="col s4">
                                        <img src="assets/weather/navigation.svg" class="responsive-img">
                                        <p>{{dataArea.h.angin_to}}</p>
                                    </div>
                                </div>
                            </div><!--/col l4-->
                        </div>
                    </div>
                </div><!--/col l4-->


            </div><!--/row-->      

            <div class="content">
                <p class="small"><i>
                <strong>Berlaku :</strong><br>
                {{dataArea.h.valid_from}} {{dataArea.h.timezone}}<br>
                s/d <br>
                {{dataArea.h.valid_to}} {{dataArea.h.timezone}}
                </i></p>
            </div> 
            <!--areasekitar-->
            <div class="areasekitar">
                <p class="areasekitar-title">Wilayah Perairan</p>
                <div class="row center-align">
                    <div class="col s3" ng-repeat="area in areasekitar | limitTo:4">
                        <p class="areasekitar-name">{{area[0].nama_perairan}}</p>
                        <img src="assets/weather/waves.svg" class="responsive-img">
                        <p>{{area.kategoris[0].gelombang_min}} - {{area.kategoris[0].gelombang_max}} m</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Besok-->
        <div id="h1" class="detail-content">
            <div class="row">
                <div class="col l4">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs info-tab tabs-fixed-width">
                                <li class="tab col s6"><a class="active" href="#peringatan1">Peringatan</a></li>
                                <li class="tab col s6"><a href="#kondisi1">Kondisi Sinoptik</a></li>
                            </ul>
                        </div>
                    </div>                
                    <div id="peringatan1" class="col s12">
                        <div class="kondisi" ng-bind-html="dataArea.h1.peringatan_dini"></div>
                    </div>
                    <div id="kondisi1" class="col s12">
                        <div class="kondisi" ng-bind-html="dataArea.h1.kondisi_synoptik"></div>
                    </div>
                </div><!--/col l4-->

                <div class="col l4">
                    <div class="row">
                        <div class="col s4">
                            <div class="center-align">
                                <img src="{{dataArea.h1.icon}}" class="responsive-img">
                                <p><strong>{{dataArea.h1.cuaca}}</strong></p>
                            </div>                                               
                        </div>
                        <div class="col s8">
                            <h5 class="center-align area-name">{{area.desc}}</h5>
                            <p class="province">( {{area.province}} )</p>
                            <!--waves wind speed info-->
                            <div class="col l4 wave-wind-info">
                                <div class="row center-align wind-info">
                                    <div class="col s4">
                                        <img src="assets/weather/waves.svg" class="responsive-img">
                                        <p>{{dataArea.h1.gelombang_min}} - {{dataArea.h1.gelombang_max}} m</p>
                                    </div>
                                    <div class="col s4">
                                        <img src="assets/weather/wind.svg" class="responsive-img">
                                        <p>{{dataArea.h1.angin_speed_min}} - {{dataArea.h1.angin_speed_max}} knot</p>
                                    </div>
                                    <div class="col s4">
                                        <img src="assets/weather/navigation.svg" class="responsive-img">
                                        <p>{{dataArea.h1.angin_to}}</p>
                                    </div>
                                </div>
                            </div><!--/col l4-->
                        </div>
                    </div>
                </div><!--/col l4-->
            </div><!--/row-->      

            <div class="content">
                <p class="small"><i>
                <strong>Berlaku :</strong><br>
                {{dataArea.h1.valid_from}} {{dataArea.h1.timezone}}<br>
                s/d <br>
                {{dataArea.h1.valid_to}} {{dataArea.h1.timezone}}
                </i></p>
            </div>
            <!--areasekitar-->
            <div class="areasekitar">
                <p class="areasekitar-title">Wilayah Perairan</p>
                <div class="row center-align">
                    <div class="col s3" ng-repeat="area in areasekitar | limitTo:4">
                        <p class="areasekitar-name">{{area[0].nama_perairan}}</p>
                        <img src="assets/weather/waves.svg" class="responsive-img">
                        <p>{{area.kategoris[1].gelombang_min}} - {{area.kategoris[1].gelombang_max}} m</p>
                    </div>
                </div>
            </div> 
        </div>
        
        <!--H+2-->
        <div id="h2" class="detail-content">
            <div class="row">
                <div class="col l4">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs info-tab tabs-fixed-width">
                                <li class="tab col s6"><a class="active" href="#peringatan2">Peringatan</a></li>
                                <li class="tab col s6"><a href="#kondisi2">Kondisi Sinoptik</a></li>
                            </ul>
                        </div>
                    </div>                
                    <div id="peringatan2" class="col s12">
                        <div class="kondisi" ng-bind-html="dataArea.h2.peringatan_dini"></div>
                    </div>
                    <div id="kondisi2" class="col s12">
                        <div class="kondisi" ng-bind-html="dataArea.h2.kondisi_synoptik"></div>
                    </div>
                </div><!--/col l4-->

                <div class="col l4">
                    <div class="row">
                        <div class="col s4">
                            <div class="center-align">
                                <img src="{{dataArea.h2.icon}}" class="responsive-img">                                
                                <p><strong>{{dataArea.h2.cuaca}}</strong></p>
                            </div>                                               
                        </div>
                        <div class="col s8">
                            <h5 class="center-align  area-name">{{area.desc}}</h5>
                            <p class="province">( {{area.province}} )</p>
                            <!--waves wind speed info-->
                            <div class="col l4 wave-wind-info">
                                <div class="row center-align wind-info">
                                    <div class="col s4">
                                        <img src="assets/weather/waves.svg" class="responsive-img">
                                        <p>{{dataArea.h2.gelombang_min}} - {{dataArea.h2.gelombang_max}} m</p>
                                    </div>
                                    <div class="col s4">
                                        <img src="assets/weather/wind.svg" class="responsive-img">
                                        <p>{{dataArea.h2.angin_speed_min}} - {{dataArea.h2.angin_speed_max}} knot</p>
                                    </div>
                                    <div class="col s4">
                                        <img src="assets/weather/navigation.svg" class="responsive-img">
                                        <p>{{dataArea.h2.angin_to}}</p>
                                    </div>
                                </div>
                            </div><!--/col l4-->
                        </div>
                    </div>
                </div><!--/col l4-->
            </div><!--/row-->      

            <div class="content">
                <p class="small"><i>
                <strong>Berlaku :</strong><br>
                {{dataArea.h2.valid_from}} {{dataArea.h2.timezone}}<br>
                s/d <br>
                {{dataArea.h2.valid_to}} {{dataArea.h2.timezone}}
                </i></p>
            </div> 
            <!--areasekitar-->
            <div class="areasekitar">
                <p class="areasekitar-title">Wilayah Perairan</p>
                <div class="row center-align">
                    <div class="col s3" ng-repeat="area in areasekitar | limitTo:4">
                        <p class="areasekitar-name">{{area[0].nama_perairan}}</p>
                        <img src="assets/weather/waves.svg" class="responsive-img">
                        <p>{{area.kategoris[2].gelombang_min}} - {{area.kategoris[2].gelombang_max}} m</p>
                    </div>
                </div>
            </div>
        </div>
                
        <!--H+3-->
        <div id="h3" class="detail-content">
            <div class="row">
                <div class="col l4">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs info-tab tabs-fixed-width">
                                <li class="tab col s6"><a class="active" href="#peringatan3">Peringatan</a></li>
                                <li class="tab col s6"><a href="#kondisi3">Kondisi Sinoptik</a></li>
                            </ul>
                        </div>
                    </div>                
                    <div id="peringatan3" class="col s12">
                        <div class="kondisi" ng-bind-html="dataArea.h3.peringatan_dini"></div>
                    </div>
                    <div id="kondisi3" class="col s12">
                        <div class="kondisi" ng-bind-html="dataArea.h3.kondisi_synoptik"></div>
                    </div>
                </div><!--/col l4-->

                <div class="col l4">
                    <div class="row">
                        <div class="col s4">
                            <div class="center-align">
                                <img src="{{dataArea.h3.icon}}" class="responsive-img">                                                                
                                <p><strong>{{dataArea.h3.cuaca}}</strong></p>
                            </div>                                               
                        </div>
                        <div class="col s8">
                            <h5 class="center-align area-name">{{area.desc}}</h5>
                            <p class="province">( {{area.province}} )</p>
                            <!--waves wind speed info-->
                            <div class="col l4 wave-wind-info">
                                <div class="row center-align wind-info">
                                    <div class="col s4">
                                        <img src="assets/weather/waves.svg" class="responsive-img">
                                        <p>{{dataArea.h3.gelombang_min}} - {{dataArea.h3.gelombang_max}} m</p>
                                    </div>
                                    <div class="col s4">
                                        <img src="assets/weather/wind.svg" class="responsive-img">
                                        <p>{{dataArea.h3.angin_speed_min}} - {{dataArea.h3.angin_speed_max}} knot</p>
                                    </div>
                                    <div class="col s4">
                                        <img src="assets/weather/navigation.svg" class="responsive-img">
                                        <p>{{dataArea.h3.angin_to}}</p>
                                    </div>
                                </div>
                            </div><!--/col l4-->
                        </div>
                    </div>
                </div><!--/col l4-->
            </div><!--/row-->      

            <div class="content">
                <p class="small"><i>
                <strong>Berlaku :</strong><br>
                {{dataArea.h3.valid_from}} {{dataArea.h3.timezone}}<br>
                s/d <br>
                {{dataArea.h3.valid_to}} {{dataArea.h3.timezone}}
                </i></p>
            </div>
            <!--areasekitar-->
            <div class="areasekitar">
                <p class="areasekitar-title">Wilayah Perairan</p>
                <div class="row center-align">
                    <div class="col s3" ng-repeat="area in areasekitar | limitTo:4">
                        <p class="areasekitar-name">{{area[0].nama_perairan}}</p>
                        <img src="assets/weather/waves.svg" class="responsive-img">
                        <p>{{area.kategoris[3].gelombang_min}} - {{area.kategoris[3].gelombang_max}} m</p>
                    </div>
                </div>
            </div>
        </div>
        

    </div>

    <!--jquery-->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Materialize-->
    <script src="assets/js/materialize.min.js"></script>
    <!--Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.16/angular-filter.min.js"></script>
    <!--map-->
    <script src="http://d3js.org/topojson.v1.js" charset="utf-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbFARAnHRr4x2wT5Ypg6iyPXwcP950wPg"></script>
    <script src="app.js"></script>
    <script>
    $(document).ready(function(){
        $(".button-collapse").sideNav({
            closeOnClick: true,
        });
        $('ul.tabs').tabs();
        $('#tabs-swipe').tabs();
        $('.collapsible').collapsible();
    });
  </script>
  </body>
</html>