/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height:500px;
    height: 82vh;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    margin: 0;
    padding: 0;
}
#sidenav-overlay{
    z-index: 50;
}
.navbar-fixed{
    /*margin-bottom: 48px;*/
}

nav .brand-logo{
    margin: 5px 0;
}

.detail{
    background: #555 center;
    background-size: cover;
    bottom: 0;
    position: fixed;
    width: 100%
}
.info-tab{
    background-color: transparent;
}
.info-tab .tab a, 
.info-tab .tab a:hover, 
.info-tab .tab a.active {
    background-color: transparent;
    color: #fff;
}
.info-tab .indicator{
    background-color: #fff;
}